<h1>Cities</h1>
<%= form_for City.new do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <%= f.submit %>
<% end %>
<ul>
  <% for city in @cities %>
    <li><%= city.name %></li>
    <li><%= city.age %></li>
  <% end %>
</ul>

